/*
* Estilo Seções
*/
header {
    display:block;
    margin-bottom: 1px;
    }
    nav {
    display:block;
    width: 150px;
    float: left;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    }
    section {
    display:block;
    width: 76%;
    float: right;
    }
    /*
    * Estilo Geral
    */
    body {
    color: #332277;
    font-size: 18px;
    background-color: #DDCC99;
    font-family: 'Open Sans', sans-serif;
         }
    a:link { color:#332277; text-decoration:none; }
    a:visited { color:#808080; text-decoration:none; }
    ol { line-height: 200%; }
    ul { line-height: 200%; }
    /*
    * Estilo Nav
    */
    nav ul {
    color: #332277;
    margin-top: 40px;
    line-height: 230%;
    list-style-type: circle;
    }
    /*
    * Estilo Header
    */
    .ender {
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    }
    img.imgLogo {
    padding-bottom: 5px;
    border-bottom: 3px solid;
    margin-bottom: 6px;
    }
    /***************************************
    * Estilo Seção Apresentação
    */
    div.apres {
    text-align: center;
    font-size: 18px;

    }
